# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Sublime ignore
*.sublime*

#LaTeX files
*.aux
*.log
*.pdf

# Huge lib folder
lib
